@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Container {
  display: flex;
  background: #ffffffea;
  margin: auto;
  position: relative;
  top: 25vh;
  justify-content: space-around;
  border-radius: 10px;
  width: 50vw;
  height: 100%;
  padding: 15px;
  color: #000;
  box-shadow: 0px 0px 10px #e9e9e9;
}

.Container img {
  border-radius: 10px;
  min-width: 50%;
  box-shadow: -1px 0px 10px #000;
  position: relative;
}

.Content {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.Content h1 {
  font-size: 50px;
  font-weight: lighter;
  transition: 5s;
  font-family: "Bebas Neue", cursive;
  display: inline;
  
}

.Content h1:hover {
  position: relative;
  top: 2px;
  left: 2px;
}

.Content p {
  font-size: 20px;
  font-weight: 700;
}

.Content h2 {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.Container figure {
  position: relative;
  margin-right: 15px;
}

.Container figcaption {
    color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 14px;
    padding: 5px;
    margin-right: 15px;
    margin-left: 50%;
    min-height: 91%;
    min-width: 47%;
    background-color: #000000af;
    opacity: 0;
    transition: .5s ease;
}

.Container figcaption:hover{
    opacity: 1;
}

.Episode {
    padding-left: 25%;
}

.Television {
    font-size: 20px;
    padding-left: 45%;
}

.Number {
    font-size: 20px;
}

.Container h1 {
    margin: auto;
    font-size: 50px;
  font-weight: lighter;
  transition: 5s;
  font-family: "Bebas Neue", cursive;
  display: inline;
}

.Charging {
  text-align: center;
  margin-top: 50vh;
}

.Id {
  font-weight: 600;
}

