@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

.Nav .Button {
  margin-top: 20px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ff0a78;
  background: #ff0a78;
  font-family: "Raleway", sans-serif;
  z-index: 0;
}

.Nav .Button:hover {
  background: #fff;
  color: #ff0a78;
}

.Heading .Button {
  cursor: pointer;
  background: #ffffff00;
  border: none;
  color: #fff;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  position: relative;
  bottom: 16.5px;
}

.Nav {
  text-align: center;
}

.NavLink {
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  z-index: 100;
}

.Heading {
  display: flex;
  width: 50vw;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  top: 0;
}

.Heading .LogOut, .Home, .About, .Favorites{
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  z-index: 100;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  height: 40px;
  margin-top: 4px;
  font-weight: lighter;
  transition: 1s ease;
  font-size: 20px;
}

.Heading .LogOut:hover::after {
  position: relative;
  margin-top: 10px;
  content: ' | Log Out';
}

.Heading .LogOut::after {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  transition: 1s ease;
  font-size: 12px;
}

.About:hover::after {
  position: relative;
  margin-top: 10px;
  content: ' | About';
}

.About::after {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  transition: 1s ease;
  font-size: 12px;
}

.Home:hover::after {
  position: relative;
  margin-top: 10px;
  content: ' | Home';
}

.Home::after {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  transition: 1s ease;
  font-size: 12px;
}

.Favorites:hover::after {
  position: relative;
  margin-top: 10px;
  content: ' | Favorites';
}

.Favorites::after {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  transition: 1s ease;
  font-size: 12px;
}