.Container {
    background: #ffffff56;
    color: hsl(0, 0%, 100%);
    margin: auto;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    font-size: 3em;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    top: 45vh;
    box-shadow: 0px 0px 10px #000;
    text-shadow: 0px 0px 5px #000;
}